name: Deploy API Project

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: datapower

    permissions:
      contents: read    # least privilege

    steps:
      # 1. Check out repository
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # 2. Install Node + CLI via npm
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          
      - name: Install APIM CLI
        run: |
          npm install -g @apistudio/apim-cli

      # 3. Run deploy command
      - name: Deploy using CLI
        env:
          APIGW_PW: ${{ secrets.password }}
          APIGW_USER: ${{ secrets.username }}
          APIGW_HOST: ${{ secrets.hostname }}
        run: |
          apic deploy aka-demo --names aka-demo:EchoAPI:1.0 --localDir "$GITHUB_WORKSPACE" --target "$APIGW_HOST" --username "$APIGW_USER" --password "$APIGW_PW" --overwrite
